<p>{{ company.name }}</p>
<p>{{ company.mission }}</p>

<ul>
    {% for emprel in company.employees_by_position %}
        {% ifchanged emprel.relatype %}{{ emprel.relatype }}{% endifchanged %}
        <li><a href="{{ emprel.person.get_absolute_url }}">{{ emprel.person }}</a></li>
        {% empty %}
        <li>No known employees.</li>
    {% endfor %}
</ul>

<ul>
    {% for clirel in company.clients_by_type %}
        {% ifchanged clirel.relatype %}{{ clirel.relatype }}{% endifchanged %}
        <li><a href="{{ clirel.person.get_absolute_url }}">{{ clirel.person }}</a></li>
        {% empty %}
        <li>No known clients.</li>
    {% endfor %}
</ul>
